[user]
    name = tarnas14
    email = tarnas14@gmail.com
    signingkey = A56D98F14106E51D
[alias]
    hpush = !git push && git push heroku master
[core]
    excludesfile = ~/.gitignore_global
[pull]
    rebase = false
[push]
    default = simple
[commit]
    gpgsign = true
[gpg]
	program = gpg
