[user]
    name = tarnas14-optio
    email = mateusz.tarnaski@optioincentives.no
    ; https://sites.lafayette.edu/newquisk/archives/504
    signingkey = 6160B1184E39CA86
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
[pull]
    rebase = false
[push]
    default = simple
[commit]
    gpgsign = true
[gpg]
    program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/projects/personal/"]
  path = ~/dotfil3s/.gitconfig-personal
