! to refresh colorscheme:
! `$ xrdb ~./Xresources`
! and restart terminal

! good dark
#include "/home/tarnas/iterm2-color-schemes-master/Xresources/Afterglow"
! good light
! #include "/home/tarnas/iterm2-color-schemes-master/Xresources/Spring"

! rebinding copy/paste
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! to list fonts:
! $ fc-list
! URxvt.font: xft:RobotoMono Nerd Font:style=Light,Regular:pixelsize=10
URxvt.font: xft:FiraCode Nerd Font Mono:style=Regular:pixelsize=15
! URxvt.font: xft:Liberation Mono:style=Regular:size=11
! URxvt.font:             xft:monospace:pixelsize=13:style=regular
! URxvt.boldFont:         xft:monospace:pixelsize=12:style=bold

URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*saveLines:                      5000
URxvt.letterSpace: -1
