snippet nodemon-server "nodemon setup"
"${1:dev-server}": "nodemon --watch server.js $2-x '${3:yarn server}'",
endsnippet
snippet nodemon "nodemon setup"
"${1:dev-server}": "nodemon ${2:--ignore package.json} ${3:--ignore build} $4-x '${5:yarn server}'",
endsnippet
