* { font-family: "JetBrainsMono Nerd Font"; font-size: 12.5px; min-height: 0; border: none; border-radius: 0; }
window#waybar { background: #1c0d05; color: #f3dcb4; border-bottom: 1px solid #3a1a0a; }

#workspaces button { padding: 0 9px; color: #c9a97a; background: transparent; }
#workspaces button.focused { color: #1c0d05; background: #d98c3a; }
#workspaces button.urgent  { color: #1c0d05; background: #3fb8b0; }
#mode { color: #1c0d05; background: #f2b134; padding: 0 10px; font-weight: bold; }

#clock, #idle_inhibitor, #wireplumber, #backlight, #network, #bluetooth, #battery, #tray, #custom-power, #custom-rec {
    padding: 0 10px; margin: 3px 0; border-left: 1px solid #3a1a0a;
}
#clock { border-left: none; font-weight: bold; }

#idle_inhibitor.activated { color: #f2b134; }
#wireplumber.muted, #network.disconnected, #bluetooth.disabled { color: #7a5a3a; }
#battery.charging, #battery.plugged { color: #b5c95a; }
#battery.warning:not(.charging)  { color: #f2b134; }
#battery.critical:not(.charging) { color: #ff5a36; }
#custom-power { color: #d98c3a; }

/* @keyframes blink { to { background-color: transparent; color: #ff5a36; } } */
#custom-rec.recording { color: #1c0d05; background: #ff5a36; font-weight: bold; animation: blink 1s steps(2) infinite alternate; }
